@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #47D3A0;
    --secondary-Color: ;
    --text-Color: #1b2336;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #EE8800;
    --error-Color: #ff1f59;
    --grey-Color: #999;
    --black-Color: #232323;
    --main-Background-Color: #F8F8F8;
    --secondary-Background-Color: ;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 5px 25px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --heading:60px;
    --heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 20px;
    --section-padding:30px 0px;
    
}
.fdb-block {
    padding: 0rem 0;
}
/* headerhdmc0pmwml */
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link{
    color: var(--text-Color);
}
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link:hover{
    color: var(--error-Color);
}
/* aboutd1e3f52aae36e7047 */
.aboutd1e3f52aae36e7047 .DescriptionHeading {
    font-size: var(--heading);
    color: var(--text-Color);
}
.aboutd1e3f52aae36e7047 .DescriptionPara {
    color: var(--grey-Color);
    font-size: var(--paragraph);
}
.aboutd1e3f52aae36e7047 .btn-outline-secondary,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:hover,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active{
    color: var(--text-Color);
    border-color: var(--primary-Color);
    background-color: var(--primary-Color);
    font-weight: var(--button-font-weight);
}
/* serviceebfcf165e4ae5852 */
.serviceebfcf165e4ae5852{
    padding: var(--section-padding);
}
.serviceebfcf165e4ae5852 h2 {
    font-size: var(--heading-large);
}
.serviceebfcf165e4ae5852 .card-img-top{
    margin-left: 16px;
}
.serviceebfcf165e4ae5852 .font-weight-bold {
    font-weight: 500 !important;
}
.serviceebfcf165e4ae5852 .card-title{
    font-size: var(--paragraph);
}
/* crunellaobWyteyCWzRLkMG */
.crunellaobWyteyCWzRLkMG{
    padding: var(--section-padding);
}
.crunellaobWyteyCWzRLkMG h1 {
    font-size: var(--heading-large);
}
.crunellaobWyteyCWzRLkMG .fdb-block img + h1, .fdb-block img + h2 {
    margin-top: 15px;
}
.crunellaobWyteyCWzRLkMG .lead {
    font-size: var(--paragraph);
}
.crunellaobWyteyCWzRLkMG .fdb-block{
    padding: 0rem 0;
}
/* aboute50d5193e4b9f737 */
.aboute50d5193e4b9f737{
    padding: var(--section-padding);
}
.aboute50d5193e4b9f737 h2{
    font-size: var(--heading-large);
}
.aboute50d5193e4b9f737 .margin {
    font-weight: var(--button-font-weight) !important;
    margin-left: -42px;
}
.aboute50d5193e4b9f737 .searchBtn {
    background-color: var(--primary-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    font-weight: var(--button-font-weight);
}
/* quickLinkq0c8d3826c0d518b0 */
.quickLinkq0c8d3826c0d518b0{
    padding: var(--section-padding);
}
.quickLinkq0c8d3826c0d518b0 .quicklink{
    font-size: 16px;
}
.quickLinkq0c8d3826c0d518b0 .quicklink a{
    color: var(--black-Color);
}
.quickLinkq0c8d3826c0d518b0 .quicklink:hover {
    background-color: var(--error-Color);
    border: 2px solid var(--error-Color);
}
/* funtushftac0ssp3mu */
.funtushftac0ssp3mu{
    padding: var(--section-padding);
}
.funtushftac0ssp3mu h1 {
    font-size: var(--heading-large);
}
.funtushftac0ssp3mu .lead {
    font-size: var(--paragraph);
}
.funtushftac0ssp3mu  strong {
    font-weight: var(--button-font-weight);
}
.funtushftac0ssp3mu h3 {
    font-size: var(--heading-large);
    margin-top: 15px;
}
/* productsp48b0eae471185cc5 */
.productsp48b0eae471185cc5{
    padding: var(--section-padding);
}
.productsp48b0eae471185cc5 .title {
    color: var(--black-Color);
    font-size: var(--heading-medium);
}
/* testimonialcohi0ajeo7e */
.testimonialcohi0ajeo7e{
    padding: var(--section-padding);
}
.testimonialcohi0ajeo7e .text-muted {
    color: var(--text-Color) !important;
}
.testimonialcohi0ajeo7e .lead {
    font-size: var(--paragraph);
}
/* teamtmpxpt1wbh8 */
.teamtmpxpt1wbh8{
    padding: var(--section-padding);
}
.teamtmpxpt1wbh8 h1 {
    font-size: var(--heading-large);
}
.teamtmpxpt1wbh8  strong {
    font-weight: var(--button-font-weight);
    font-size: var(--heading-medium);
}
.teamtmpxpt1wbh8 .lead {
    font-size: var(--paragraph);
}
.teamtmpxpt1wbh8 .fdb-block{
    padding: 0rem 0;
}
/* .footerb9fc05b1281e93c03 */
.footerb9fc05b1281e93c03 .footer-top .widget-title{
    font-size: var(--heading-medium);
}
.footerb9fc05b1281e93c03 .small-post-item .post-date{
    color: var(--primary-Color);
}
.footerb9fc05b1281e93c03 .courses-link-list li a:hover{
    color: var(--primary-Color);
}
.footerb9fc05b1281e93c03 .news-letter-form input[type="submit"]{
    background-color: var(--primary-Color);
    color: var(--text-Color);
}
.footerb9fc05b1281e93c03 .copy-right-text a{
    color: var(--primary-Color);
}.footerb9fc05b1281e93c03 .footer-top{
    padding-top: 50px;
    padding-bottom: 50px;
}